/* Button
https://www.w3schools.com/css/css3_buttons.asp
*/
.buttonGreenStandart {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	/*	box-shadow: 0 9px #999;*/
	margin: 10px 10px 10px 10px;
}

.buttonGreenStandart:hover {
	background-color: #3e8e41
}

.buttonGreenStandart:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.divCenter {
	margin: auto;
	width: 60%;
	text-align: center;
}

/* TABLE (ROWS + COLUMNS)
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_two_columns_responsive
*/
.column {
	float: left;
	width: 50%;
	padding: 10px;
}

.column40 {
	float: left;
	width: 40%;
	padding: 10px;
}

.column20 {
	float: left;
	width: 20%;
	padding: 10px;
}

.column80 {
	float: left;
	width: 80%;
	padding: 10px;
}

.column60 {
	float: left;
	width: 60%;
	padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
	padding: 10px;
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1200px) {
	.column20 {
		width: 100%;
	}
	.column40 {
		width: 100%;
	}
	.column60 {
		width: 100%;
	}
	.column80 {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

/* Background Style*/
body {
	background-image: url("../images/bgUniverse.jpg");
}

.divBackgroundGrid {
	background-image: url("../images/gridbg.png");
	height: 100%;
}

.inputDate {
	height: 100px;
	margin: 0 auto;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 5vw;
	font-weight: bold;
	text-transform: uppercase;
	outline: none;
	border: 0px;
	border-radius: 3333px;
	padding: 0 3px;
}

.dot {
	font-size: 2vw;
	border-radius: 50%;
	display: inline-block;
	padding: 30px;
}

::-webkit-datetime-edit-month-field {
	color: black;
}

::-webkit-datetime-edit-day-field {
	color: black;
}

::-webkit-datetime-edit-year-field {
	color: black;
}

::-webkit-clear-button {
	visibility: hidden;
}

::-webkit-inner-spin-button {
	height: 0px;
	visibility: hidden;
	width: 200px;
	background-color: #aaaaaa;
	margin-right: 20px;
}

::-webkit-calendar-picker-indicator {
	font-size: 5vw; &: hover { background-color : lighten( #000000, 40%);
	color: darken(#000000, 10%);
	cursor: pointer;
	margin-right: 20px;
}

:active {
	color: blue;
	}
}